@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply bg-brand-base text-brand-offwhite font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

@keyframes shiny-text {
  0% {
    background-position: 120% 0;
  }
  100% {
    background-position: -20% 0;
  }
}

.animate-shiny-text {
  animation: shiny-text 3s linear infinite;
}

html,
:host {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
